.grid-container{
	display: grid;
grid-template-columns: auto;
grid-template-rows: auto;	
}
.factbox {
	display: grid; 
	grid-column: 1;
	grid-row: auto;
	background-color: white;
	width: 80%;
	margin-left: 10%;
	height: auto;
	border-radius: 44px;
	margin-bottom: 20px;
	border-style: ridge;
	border-color: silver;
}
.factbox img {
	position:relative;
	height: 100px;
	width: 160px;
	margin: 5px;
	
}

.factbox h1 {
	font-size: 40px;
	width: 100%;
	
}
.imageholder {
	position: relative;
	width: 20%;
	height: auto;
	
}
.headerholder {
	position: relative;
	margin-left: 20%;
	margin-top: -110px;
	width: 80%;
	height: auto;
	
	
}
.factbox li {
	font-size: 30px;
	margin-left: 10%;
	width: 90%;
	
}
.emptyspace {
	width: 100%;
	height: 150px;
}
@media only screen and (max-width: 1100px){
	.factbox {
		margin-left: 0;
		width: 95vw;
	}
	.factbox h1 {
		font-size: 35px;
		
	}
	.headerholder {
		margin-left: 200px;
		width: 65%;
	}
	
}
@media only screen and (max-width: 830px) {
	.headerholder {
		width: 80%;
		margin-left: 22%;
	}
}
@media only screen and (max-width: 800px) {
	.headerholder  {
		margin-left: 35%;
		width: 65%;
	}
}
@media only screen and (max-width: 450px) {
	.headerholder  {
		margin-top: 10px;
		width: 80%;
		margin-left: 25px;
	}
}